.login-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper img {
  width: 100%;
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0px 0px 8px #1d1d1d;
}

.login-wrapper h1 {
  font-size: 75px;
  color: #ffffff;
  text-shadow: 5px 5px 8px #222222;
}

.login-wrapper p {
  font-size: 18px;
  width: 700px;
  text-align: left;
  color: #ffffff;
  text-shadow: 5px 5px 8px #222222;
  margin-bottom: 50px;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-wrapper form input,
.login-wrapper form select {
  font-size: 16px;
  color: #ffffff;
  width: 250px;
  border: solid 1px #00a8ff;
  background-color: #353b48;
  padding: 8px 8px;
  margin: 25px 0px 0px;
  border-radius: 5px;
}

.login-wrapper form button {
  width: 250px;
  margin: 25px 0px 0px;
  border: none;
  display: block;
  background-color: #00a8ff;
  box-shadow: 5px 5px 8px #222222;
  padding: 8px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
